header {
    margin: 20px 0 30px 0;
}

.header-content {
    border-bottom: 4px solid #bcbbbb;
    padding: 0 0 20px 0;
}

.logo {
    margin: 10px 0 0 -10px;
    max-height: 115px;
    max-width: 115px;
}

.main-content {
    padding: 0;
}

img {
    width: 100%;
}

h1 {
    color: #666756;
    font: 100 46pt "Roboto" "sans-serif";
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 0 -15px 0;
}

h2 {
    color: #666756;
    font: 400 16pt "Roboto" "sans-serif";
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    color: #bbbbca;
    font: 300 32px "Lato" "sans-serif";
    letter-spacing: 2.5px;
}

h4 {
    color: #666756;
    font: 500 36px "Roboto" "sans-serif";
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

a {
    color: #666756;
    font: 300 16px "Roboto" "sans-serif";
}

@media (max-width:767px) {
    .project {
        border: 1px solid #bcbbbb;
    }
}

.svg-square-container {
    width: 75px;
    height: 80px;
}

.svg-square-rect-orange {
    fill: #f8981c;
}

.svg-square-rect-l-grey{
    fill: #bcbbbb;
}

.svg-square-rect-d-grey {
    fill: #666756;
}